/* Resets */

body {
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  word-wrap: break-word;
  font-weight: 500;
}

.btn {
  margin: 0.1rem;
}

.card-panel {
  margin-top: 0;
  margin-bottom: 0;
}

#particles-js canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* Custom */

.ajiozi-circles {
  background-image: url("/images/illustrations/circles.png");
  background-position: right center;
}

.ajiozi-stock-1 {
  background: url("/images/stock/stock-1.png");
  color: white;
  text-align: center;
  min-height: 60vh !important;
  background-size: cover;
}

.ajiozi-stock-2 {
  background: url("/images/stock/stock-2.png");
  color: white;
  text-align: center;
  min-height: 60vh !important;
  margin-bottom: 3px;
  background-size: cover;
}

.ajiozi-stock-iot {
  background: url("/images/stock/cyber-4.jpg");
  color: white;
  text-align: center;
  min-height: 60vh !important;
  margin-bottom: 3px;
  background-size: cover;
}

.ajiozi-stock-cyber {
  background: url("/images/stock/cyber-5.jpg");
  color: white;
  text-align: center;
  min-height: 60vh !important;
  margin-bottom: 3px;
  background-size: cover;
}

.ajiozi-stock-system {
  background: url("/images/stock/system-4.jpg");
  color: white;
  text-align: center;
  min-height: 60vh !important;
  margin-bottom: 3px;
  background-size: cover;
}

.ajiozi-stock-cctv {
  background: url("/images/stock/cctv-3.jpg");
  color: white;
  text-align: center;
  min-height: 60vh !important;
  margin-bottom: 3px;
  background-size: cover;
}

.ajiozi-stock-3 {
  background: url("/images/stock/stock-3-2.png");
  color: white;
  text-align: center;
  min-height: 60vh !important;
  margin-bottom: 3px;
  background-size: cover;
}

.ajiozi-stock-4 {
  background: url("/images/stock/stock-4.png");
  color: white;
  text-align: center;
  min-height: 60vh !important;
  margin-bottom: 3px;
  background-size: cover;
}

.ajiozi-stock-5 {
  background: url("/images/stock/stock-5-2.png");
  color: white;
  text-align: center;
  min-height: 60vh !important;
  background-size: cover;
  margin-bottom: 3px;
}

.ajiozi-stock-6 {
  background: url("/images/stock/stock-6.png");
  color: white;
  text-align: center;
  min-height: 60vh !important;
  margin-bottom: 3px;
}

.ajiozi-stock-7 {
  background: url("/images/stock/stock-7.png");
  color: white;
  text-align: center;
  min-height: 60vh !important;
  background-repeat: no-repeat;
  margin-bottom: 3px;
  background-size: cover;
}

.ajiozi-stock-8 {
  background: url("/images/stock/stock-8.png");
  color: white;
}

.ajiozi-stock-9 {
  background: url("/images/stock/stock-9.png");
  color: white;
  background-size: cover;
}

.ajiozi-stock-10 {
  background: url("/images/stock/stock-10.png");
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
}

.ajiozi-stock-11 {
  background: url("/images/stock/stock-11.png");
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
}

.ajiozi-stock-12 {
  background: url("/images/stock/stock-12.png");
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
}

.ajiozi-burger-nav {
  display: inline !important;
}

.ajiozi-logo {
  height: 3rem;
  position: relative;
  top: 1rem;
  left: 1rem;
  max-width: 7rem;
}

.ajiozi-navigation {
  margin: 2rem;
}

.ajiozi-social {
  margin-right: 0.5rem;
}

.ajiozi-social-text {
  position: relative;
  top: -7px;
}

.ajiozi-partners {
  width: 250px;
  height: 50px;
}

.ajiozi-particles-button {
  z-index: 1;
  position: relative;
}

.ajiozi-padding-ten {
  padding: 5rem 2rem 10rem 2rem;
}

.ajiozi-padding-top-three {
  padding-top: 3rem;
}

.ajiozi-margin-top-three {
  margin-top: 3rem;
}

.ajiozi-margin-bottom {
  margin-bottom: 2rem;
}

#ajiozi-profile-photo {
  height: 17rem;
  padding: 1rem;
  border-radius: 50%;
}

.ajiozi-grey {
  background: #f2f2f2;
}

.ajiozi-no-margin {
  margin: 0;
}

.ajiozi-image-text {
  position: relative;
  top: 20vh;
  font-size: 2rem;
  cursor: pointer;
}

.input-field > label {
  text-transform: capitalize;
}

.ajiozi-arrow {
  font-size: 3rem;
  border: 0.2rem solid;
  border-radius: 50%;
}

.card .card-content {
  font-size: 0.8rem;
}

nav i,
nav i.material-icons {
  display: inline-block;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 2.5rem;
  }
}

.fade-appear {
  opacity: 0;
}

.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}

@font-face {
  font-family: 'icomoon';
  src:  url(../../assets/fonts/icomoon.eot);
  src:  url(../../assets/fonts/icomoon.eot#iefix) format('embedded-opentype'),
    url(../../assets/fonts/icomoon.ttf) format('truetype'),
    url(../../assets/fonts/icomoon.woff) format('woff'),
    url(../../assets/images/icomoon.svg#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\E900";
}
.icon-facebook:before {
  content: "\E901";
}
.icon-facebook-f:before {
  content: "\E901";
}
.icon-instagram:before {
  content: "\E902";
}

.app-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app-my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.app-my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.app-my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.app-my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.app-mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.app-mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.app-mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.app-mt-2 {
  margin-top: 2rem;
}

.app-p-0 {
  padding: 0 !important;
}

.app-py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.app-py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.app-py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.app-py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.app-px-0 {
  padding-left: 0;
  padding-right: 0;
}

.app-px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.app-px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.app-p-3 {
  padding: 3rem;
}

.app-pb-0 {
  margin-bottom: 0;
}

.app-section-height {
  min-height: 80vh;
}

.app-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.app-margin-top-vh {
  margin-top: 40vh !important;
}

.app-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
  margin-bottom: -7vw;
  padding-bottom: 7vw;
}

.btn {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 50px;
  margin: 0.5rem;
}
.card-panel {
  margin: 0;
}

.material-icons {
  position: relative;
  padding: 0 0.2rem;
  vertical-align: -20%;
  top: 0rem;
}

.fixed-action-btn {
  right: 100px;
}

nav {
  box-shadow: none;
}

.material-icons {
  position: relative;
  padding: 0 0.2rem;
  vertical-align: -20%;
  top: 0rem;
}

body {
  overflow-x: hidden;
  word-break: break-word;
}

.material-icons {
  position: relative;
  padding: 0 0.6rem;
  vertical-align: middle;
  top: 0rem;
  cursor: pointer;
}

.btn {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 50px;
  margin: 0.5rem;
}
.card-panel {
  margin: 0;
}

.fixed-action-btn {
  right: 100px;
}

nav {
  box-shadow: none;
}

.app-service-box {
  font-size: 2rem;
  color: #fff;
  background: #b71c1c;
  border-radius: 50%;
  padding-top: 1rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  display: inline-block;
  margin-right: 1rem;
}

.app-bold {
  font-weight: bold;
}

.app-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app-section-height {
  min-height: 80vh;
}

.app-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.app-margin-top-vh {
  margin-top: 40vh !important;
}

.app-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
  margin-bottom: -7vw;
  padding-bottom: 7vw;
}

.fade-appear {
  opacity: 0;
}

.fade-appear-active {
  opacity: 1;
  transition: opacity 400ms linear;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}

#particles-js canvas {
  position: absolute;
  max-height: 100vh;
  top: 0;
  left: 0;
}

.collection .collection-item {
  padding: 30px 20px;
}

.icon {
  margin-right: 0.5rem;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

label {
  text-transform: capitalize;
}

.capitalize {
  text-transform: capitalize;
}

.container-95 {
  width: 95%;
  margin: 0 auto;
  max-width: 1280px;
}

.app-f-3-6 {
  font-size: 3.1rem;
}

.fixed-action-btn {
  position: fixed;
  right: 5%;
  bottom: 10%;
}

.h4 {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 3rem;
}

.h4 {
  font-size: 1.5rem;
}

.material-icons {
  padding: 0 0.1rem;
}

.caption {
  background: rgba(19, 116, 226, 0.6);
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 10vh;
  z-index: 1;
}

.slider .slides li .caption {
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slider .slides li .caption p {
  color: #e0e0e0;
  line-height: 2.5rem;
  text-align: justify;
}

/* colours */

:root {
  --primary-colour: #0eb8d9;
  --secondary-colour: #01405f;
  --accent-colour: #6f8ba4;
  --neutral-colour: #ffffff;
  --dark-colour: #0d47a1;
  --gradient: linear-gradient(134deg, #0eb8d9 0%, #2cddc9 100%);
}

body {
  background-color: #f7f9fb;
}

nav {
  background: var(--neutral-colour);
}

nav .brand-logo {
  color: var(--dark-colour);
}

nav ul a {
  color: var(--dark-colour);
}

.btn {
  background: var(--secondary-colour);
}

.btn.btn-secondary {
  background: var(--neutral-colour);
  color: var(--secondary-colour);
}

.app-primary-background {
  background-color: var(--primary-colour);
  color: var(--neutral-colour);
  background-image: var(--gradient);
  /* //background-image: url("../images/topright.png"); */
}

.app-secondary-background {
  background-color: var(--neutral-colour);
  color: var(--secondary-colour);
  border-bottom: 1px solid var(--accent-colour);
}

.app-secondary-background a {
  color: var(--accent-colour);
}

.app-secondary-background a {
  color: var(--dark-colour);
}

.app-accent-background {
  background-color: var(--accent-colour);
  color: var(--neutral-colour);
}

.collapsible-header {
  color: var(--accent-colour);
}

.transparent {
  background: transparent;
}

.transparent a {
  color: var(--neutral-colour);
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: var(--dark-colour);
}

.tabs .tab a {
  background: #ffffff;
  background-color: #ffffff;
  color: var(--dark-colour);
}

.tabs .tab a.active,
.tabs .tab a:hover,
.tabs .tab a:focus.active {
  background: #ffffff;
  background-color: #ffffff;
  color: var(--dark-colour);
}

.tabs .tab a.active {
  color: #a02200 !important;
}

.tabs .indicator {
  background-color: #a02200;
}

/* margin and padding */

.app-primary-background h1 {
  margin-bottom: 30px;
}

.app-mt-0 {
  margin: 0;
}

.app-mt-4 {
  margin-top: 4rem;
}

.app-mt-1 {
  margin-top: 1rem !important;
}

.app-mb-0 {
  margin-bottom: 0 !important;
}

.app-mb-1 {
  margin-bottom: 1rem !important;
}

.app-mb-2 {
  margin-bottom: 3rem;
}

.app-pb-1 {
  padding-bottom: 1rem;
}

nav .brand-logo {
  padding-left: 3rem;
  padding-right: 3rem;
}

.btn {
  margin: 0.2rem;
}

.h4 {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 3rem;
}

.app-my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.app-my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.app-my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.app-my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.app-mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.app-mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.app-mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.app-mt-2 {
  margin-top: 2rem;
}

.app-p-0 {
  padding: 0 !important;
}

.app-px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.app-px-3-5 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.app-py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.app-py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.app-py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.app-py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.app-px-0 {
  padding-left: 0;
  padding-right: 0;
}

.app-px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.app-px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.app-p-3 {
  padding: 3rem;
}

.app-pb-0 {
  margin-bottom: 0;
}

.app-mb-5 {
  margin-bottom: 5rem;
}

h1 {
  /* font-size: 4.2rem; */
  margin: 2.4rem 0 1.68rem;
}

/* fonts */
/* @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700"); */

body {
  font-size: 1rem;
}

.app-primary-background {
  font-size: 19px;
}

.app-primary-background h1 {
  font-size: 35px;
  line-height: 46px;
  letter-spacing: 0.7px;
  font-weight: 400;
}

.app-secondary-background a {
  font-weight: 600;
  font-size: 14px;
}

nav {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

nav .brand-logo {
  font-size: 14px;
}

.collapsible-header {
  font-size: 1.2rem;
}

.btn {
  font-size: 14px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2.5rem;
}

.h3 {
  font-size: 2rem;
}

.h4 {
  font-size: 1.5rem;
}

.h5 {
  font-size: 1rem;
}

.h6 {
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  h2 {
    font-size: 2rem;
  }

  .slider-text {
    font-size: 1.1rem;
  }

  .btn {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }

  .app-px-3-5 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container {
    width: 95%;
  }

  ul.stepper .step .step-content {
    margin-left: 1.5rem;
    margin-right: 0;
  }

  body {
    font-size: 17px;
  }

  nav .brand-logo {
    padding-left: 0;
    padding-right: 0;
  }

  .app-f-3-6 {
    font-size: 2.5rem;
  }

  .mobile-table {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
  }

  nav .brand-logo {
    left: 35%;
  }

  nav ul a {
    padding: 0 10px;
  }

  .caption {
    padding-top: 1vh;
  }

  .slider .slides li .caption p {
    line-height: 1.7rem;
  }
}

